.searchbar {
  width: 100%; 
  margin-bottom: 10px;
  
}

.App{
  padding: 2rem 20rem 2rem 20rem;
  background-color: lavender;
}

.searchbar #search-icon { 
  position: relative;
    float: right;
    top: -33px;
    color: black;
    z-index: 100;
} 

#search-page {
  width: 75%;
  margin: auto;
  padding: 2rem;
}

.search-input{
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 2rem;
}

input:focus {
  outline-width: 0;
}
.card{
  height: 7rem;
  background-color:floralwhite;
  margin-top: 1rem;
  border-radius: 1rem;
}

.card-body{
  word-wrap: break-word;
  float: right;
  width: 80%;
  color: darkslateblue;
}

#timer{
  font-size: 1rem;
    color: black;
    float: right;
    margin: 1rem;
}

.image{
  float: left;
    padding: 1rem;
    width: 6rem;
    height: 4rem;
    border-radius: 2rem;
}